html, body {
	margin:0;
	padding: 0;
}

#actionbar, #linkUpload {
	width: 100%;
	height: 35px;
	background: grey;
}

#linkUpload {
	float:left;
}

#pushNotify {
	float:right;
}

/*#pushNotify {
	border:none;
	width:;
	background-image: url(/img/icons/import_photo.png);

}
*/
#tools, #layers {
	height: 100%;
}

	#tools ul,
	#layers ul {
		padding:0;
	}

	#tools ul li,
	#layers ul li {
		list-style: none;
	}

#tools{
	float:left;
	width: 35px;
	background-color: grey;
}

	#tools img:hover, #linkUpload img:hover{
		cursor: pointer;
	}

#layers {
	float: right;
	width: 100px;
}

	#layers ul li {
		list-style: none;
		padding: 10px 20px;
		background-color: lightgrey;
	}

.toolBar img, #linkUpload img {
	width:35px;
	height: 35px;
}

#canvasWrap {
	display: inline-block;
}