html, body {
	margin:0;
	padding: 0;
}

#actionbar, #linkUpload {
	width: 100%;
	height: 35px;
	background: grey;
}

#linkUpload {
	position:fixed;
	bottom:0px;
}

#pushNotify {
	float:right;
}

/*#pushNotify {
	border:none;
	width:;
	background-image: url(/img/icons/import_photo.png);

}
*/
#tools, #layers {
	height: 100%;
}

	#tools ul,
	#layers ul {
		padding:0;
	}

	#tools ul li,
	#layers ul li {
		list-style: none;
	}

#tools{
	float:left;
	width: 35px;
	background-color: grey;
}

	#tools img:hover, #linkUpload img:hover{
		cursor: pointer;
	}

#layers {
	float: right;
	width: 233px;
}

	#layers ul li {
		list-style: none;
		height: 56px;
		line-height: 56px;
		padding-left: 10px;
		background-color: lightgrey;
		position: relative;
	}


		#layers a {
			display: block;
			text-decoration: none;
			color: inherit;
			height: 100%;
		}

		#layers li img {
			width: 20px;
			height:20px;
			margin-top: 18px;
			margin-left: 5px;
			float: right;
		}

		.usersIconWrap {
			position:absolute;
			right:0;
			top:0;
			height: 100px;
			width: 213px;
			padding-right: 20px;
			height: 100%;
		}

		#layers li p {
			margin: 0;
		}



.toolBar img, #linkUpload img  {
	width:35px;
	height: 35px;
}

#canvasWrap {
	overflow: hidden;
}